body {
  background: #354241;
}

h2 {
  color: #E1E1E1;
  font-size: 24px;
  height: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

h3 {
  color: #E1E1E1;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 20px;
}

p {
  color: #E1E1E1;
  margin: 10px 20px;
}

label {
  color: #E1E1E1;
  margin-left: 20px;
}

/*different values for link*/
a.outputLink:unvisited {
  color:#6495ED;
}
a.outputLink:hover {
  color:#40E0D0;
}
a.outputLink:visited {
  color:#CCCCFF;
}

.outputText {
  color:#FFBF00;
}

.incorrect {
  color: #DE3163;
  font-size: 24px;
}

.correct {
  color:#3EDA3F;
  font-size: 24px;
}

/*div border for specific divs on page*/
.borderedDiv {
  border: groove;
}
